body {
  font-family: 'Raleway', sans-serif;
}
.text-center{
  text-align: center;
}
#header{
  padding-top: 60px;
  background-color: #3498DB;
  color: #fff;

}
#myNav{
  background-color: #3498DB;
  padding: 15px 0px 10px 0;
  display: block;
  box-shadow: -4px 2px 8px rgba(0,0,0,0.3);
}

h1{
  padding-top: 50px;
  font-size: 48px;
  letter-spacing: -0.1rem;
  font-weight: 300;
  padding-bottom: 40px;
}
h2{
  padding-top: 150px;
  color: #3498DB;
}
h3{
  padding-bottom: 30px;
  margin-bottom: 0;
  font-weight: 300;
}
h4{
  color: #3498DB;
}
ul{

}
.myFooter{
  background-color: #3498DB;
  color: #fff;
  padding: 50px 0 40px 0;
  margin-top: 60px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.3);
}
.resume-right{
  float: right;
}
.max-w{
  max-width: 780px;
}
.nav-link{
  color: #fff;
}
